body {
  background-color: #27313b;
  font-family: "Eczar", serif;
}
p {
  font-size: 18px;
}
label {
  margin-top: 10px;
}
.container-fluid {
  background-color: #fff;
  min-height: 400px;
}
.btn-default {
  /* BS4 changed the appearance of btn-default on anchor tags.
      I liked the old way better... so that's
      what I am making happen here.  */
  background-color: #ccc;
  color: black;
}
.btn {
  /*make text wrap nicely in buttons */
  white-space: normal;
}

.locked {
  display: none !important; /*locked content must not be shown to user*/
}

.unlocked {
  border-width: initial; /*set border-width to whatever the default is. */
}

.secured {
  border-width: initial; /*set border-width to whatever the default is. */
}

.navbar-brand img {
  mix-blend-mode: multiply;
}

.navbar {
  background-color: #0c8440;
}

#btnLogin {
  background-color: #0c8440;
}

#div-loginSideBar p {
  font-size: 20px;
}

#chart {
  width: 100%;
  height: 100%;
}

#footprint-info button {
  background-color: #0c8440;
  width: 15%;
  font-family: "Eczar", serif;
}

#footprint-info p {
  width: 70%;
  font-size: 18px;
  height: 200%;
}

.leaderboard-section {
  width: 100%;
  text-align: center;
}

.leaderboard {
  background-color: #1e50f5;
  padding: 20px;
  font-size: 24px;
  border-style: outset;
  display: inline-block;
  width: 100%;
}

#leaderboard li {
  color: white;
  list-style-type: none;
}

#leaderboard h2 {
  text-align: center;
}
#div-aboutus {
  text-align: center;
}
#div-aboutus h1 {
  text-align: center;
}

#div-tips li {
  list-style-type: none;
  background: #d4d4d4;
  border-radius: 4px;
  border-style: outset;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  max-width: 600px;
  padding: 15px;
  position: relative;
}

.tipbox {
  background: #1e50f5;
  height: 500px;
  padding: 30px;
  border-style: groove;
  overflow-y: scroll;
}

#tip_message {
  height: 200px;
  font-size: 14pt;
}

.tipbox::-webkit-scrollbar {
  display: none;
}

.btnLike {
  margin-left: 20px;
  background: url(../images/thumbs-up-regular.svg);
  height: 20px;
  width: 20px;
  background-color: white;
}

.liked {
  background-color: blue;
}

.entertip {
  border: black;
  border-width: 4px;
}
